:root {
    --fuente_principal: 'Montserrat', sans-serif;
    --rojo: #be283c;
    --azul: #35A6DE;
    --obscuro: #212121;
    --amarillo: #F9F63D;
    --blanco: #ffffff;
    --claro: #e1e1e1;
    --gris: #f6f6f6;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 62.5%; /*1rem = 10px*/
    font-family: var(--fuente_principal);
    background-color: var(--gris);
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*Encabezado*/
.webp .header {
    background-image: url(../img/header.webp);
}

.no-webp .header {
    background-image: url(../img/header.jpg);
}

.header {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

@media(min-width: 768px) {
    .header{
        background-attachment: fixed;
    }
}

.header__contenido {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    padding-top: 2.5rem;
}

/*Logo y barra de navegaci贸n principal*/
@media(min-width: 992px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.barra a {
    text-decoration: none;
    
}

.barra h1 {
    font-size: 1.6rem;
    color: var(--blanco);
    margin-bottom: 4rem;
}

.barra h1:hover {
    color: var(--amarillo);
}

@media(min-width: 1050px) {
    .barra h1{
        transition: 0.5s ease;
    }
}

.barra span {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.8rem;
}

/*Navegaci贸n principal*/
.nav-principal a{
    display: block;
    margin: 1rem 0;
}

@media(min-width: 992px) {
    .nav-principal {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        text-align: center;
    }

    .nav-principal a {
        transition: 0.5s ease;
    }
}

.nav-principal a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
}

.nav-principal a:hover {
    color: var(--azul);
}

/*Slogan y bot贸n para suscripci贸n*/
.suscripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 992px) {
    .suscripcion {
        margin-top: 25vh;
    }
}

.suscripcion__text {
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    line-height: 3.2rem;
    text-transform: uppercase;
}

@media(min-width: 768px) {
    .suscripcion__text {
        width: 50%;
    }
}

.suscripcion__btn {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.6rem;
    transition: 0.5s ease;
    background-color: transparent;
    padding: .5rem 2rem;
    border-radius: .3rem;
    text-transform: uppercase;
}

.suscripcion__btn:hover {
    background-color: var(--rojo);
}

/*Clases tarjetas*/
.entrenamientos-titulo {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

@media(min-width: 992px) {
    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}

.tarjeta {
    text-align: center;
    margin: 2rem 0 4rem 0;
    border: 1px solid var(--claro);
    padding: 1rem 1rem 3.5rem 1rem;
    background-color: var(--blanco);
    border-radius: .3rem;
}

.tarjeta__imagen {
    height: 50%;
    width: 45%;
}

@media(min-width: 768px) {
    .tarjeta__imagen {
        -webkit-transition: transform 0.3s ease;
        -ms-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
    }

    .tarjeta__imagen:hover {
        -webkit-transform: scale(1.1) rotate(0deg);
        -ms-transform: scale(1.1) rotate(0deg);
        transform: scale(1.1) rotate(0deg);
        cursor: pointer;
    }
}

.tarjeta__titulo {
    font-size: 1.8rem;
    color: var(--obscuro);
    font-style: italic;
}

.tarjeta__texto {
    font-size: 1.2rem;
}

.tarjeta__btn {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--rojo);
    transition: 0.5s ease;
    padding: .5rem 2rem;
    border-radius: .3rem;
    text-transform: uppercase;
}

@media(min-width: 768px) {
    .tarjeta__btn:hover {
        color: var(--blanco);
        background-color: var(--rojo);
    }
}

/*Horarios entrenamientos*/
.horarios {
    display: none;
}

@media(min-width: 992px) {
    .horarios {
        display: unset;
    }
}

.contenedor__horarios {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.horarios__titulo {
    text-align: center;
    font-weight: 800;
    font-size: 2.2rem;
    font-style: italic;
    text-transform: uppercase;
    margin: 3rem auto 2rem auto;
}

.horarios__tabla {
    margin: 0 auto 1rem;
    width: 100%;
    text-align: center;
}

.horarios__tabla:hover {
    cursor: pointer;
}


.horarios__tabla th {
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    background-color: var(--claro);
}

.horarios__tabla--renglon-2 {
    background-color: var(--gris);
}

.horarios__tabla--renglon-1, .horarios__tabla--renglon-3 {
    background-color: var(--blanco);
}

.horarios__tabla td {
    font-size: .8rem;
}

.hora {
    font-style: italic;
}

.clase {
    font-weight: bold;
}

/*Instalaciones*/
.instalaciones__titulo {
    text-align: center;
    margin: 2rem 3rem 2rem 3rem;
    font-size: 2.2rem;
    font-style: italic;
}

#lightgallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 4rem;
}

@media(min-width: 768px) {
    #lightgallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

a {
    display: inline-block;
}

a img {
    width: 100%;
    height: auto;
}

.lg-actions .lg-prev:after {
    content: '〃' !important;
}

.lg-actions .lg-next:before {
    content: '―' !important;
}

.lg-toolbar .lg-close::after {
    content: '' !important;
}

.lg-toolbar .lg-download::after {
    /*content: '～' !important;*/
    display: none !important;
}

.foto {
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}

.oculto {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--blanco);
    text-align: center;
    padding-top: 30%;
    font-size: 1rem;
    display: none;
}

.zoom {
    transform: scale(1.2);
    transition: 0.4s;
}

/*Footer*/
.footer {
    background-color: var(--obscuro);
    padding-bottom: 2rem;
}

.footer-texto {
    color: var(--blanco);
    font-size: 1rem;
    margin-top: 4rem;
    text-align: center;
}

.footer-titulo {
    font-size: 2.6rem;
    text-align: center;
    font-weight: 700;
    color: var(--blanco);
    font-style: italic;
    margin: 2rem auto 5rem auto;
    text-transform: uppercase;
}

.footer-info {
    text-align: center;
    font-size: 1.3rem;
}

.footer-info a {
    text-decoration: none;
    color: var(--blanco);
}

.footer-correo {
    margin-top: 4rem;
}

@media(min-width: 768px) {
    .footer-info {
        display: flex;
        justify-content: space-around;
    }

    .footer-correo {
        margin-top: 0;
    }
}